In [1]:
import pandas as pd
import numpy as np

In [15]:
df=pd.read_csv("required_datasets/creditcard.csv")
df.shape

(284807, 31)

In [7]:
positive_class = df[df['Class'] == 0]
negative_class = df[df['Class'] == 1]

In [8]:
from sklearn.utils import resample

In [9]:
# Downsample the positive class
downsampled_positive = resample(positive_class,
                                replace=False,  # sample without replacement
                                n_samples=len(negative_class)+100,  # match the number of samples in the negative class
                                random_state=42)  # set random seed for reproducibility

# Combine the downsampled positive class with the negative class
balanced_data = pd.concat([downsampled_positive, negative_class])

# Shuffle the data to ensure the order is randomized
balanced_data = balanced_data.sample(frac=1, random_state=42)

# Save the balanced dataset to a new CSV file


# balanced_data.to_csv('your_balanced_dataset.csv', index=False)

In [10]:
dataset=balanced_data

In [11]:
from sklearn.preprocessing import StandardScaler

dataset3 = dataset
# Normalizace the Amount between -1,1
dataset3['normalizedAmount'] = StandardScaler().fit_transform(dataset3['Amount'].values.reshape(-1,1))

a=dataset3['Class']
b=dataset3['normalizedAmount']

dataset3 = dataset3.drop(columns = ['Class','normalizedAmount'])

dataset3['normalizedAmount']=b
dataset3['Class']=a


dataset3 = dataset3.drop(columns = ['Amount','Time'])
dataset3.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,normalizedAmount,Class
31002,-5.685013,5.776516,-7.064977,5.902715,-4.715564,-1.755633,-6.958679,3.877795,-5.541529,-7.502112,...,1.128641,-0.962960,-0.110045,-0.177733,-0.089175,-0.049447,0.303445,0.219380,0.058429,1
198183,1.738348,-0.830540,-1.035978,-0.058083,0.480442,1.822751,-0.666923,0.591069,0.921700,-0.059426,...,-0.306775,-0.882622,0.439391,-0.973706,-0.806525,0.219390,-0.020649,-0.054579,-0.056273,0
193189,-0.525485,-0.072842,-1.563655,0.479742,-0.190838,0.598794,1.911503,0.283636,-0.369490,-0.673894,...,0.465036,0.774206,1.032823,-1.092994,-1.420865,-0.930977,0.136462,0.308802,1.358599,0
239499,-2.150855,2.187917,-3.430516,0.119476,-0.173210,0.290700,-2.808988,-2.679351,-0.556685,-4.485483,...,-0.073205,0.561496,-0.075034,-0.437619,0.353841,-0.521339,0.144465,0.026588,-0.228093,1
175394,1.626242,-0.820035,-0.346565,1.361828,-0.350868,1.012204,-0.636001,0.334875,1.173782,0.082481,...,-0.102978,-0.353086,0.167590,0.181979,-0.296155,-0.898292,0.047243,-0.007560,0.236286,0

In [13]:
X = dataset3.drop(columns = ['Class'])
y = dataset3['Class']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=0)

print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(758, 29)
(758,)
(326, 29)
(326,)

In [14]:
dataset3.to_csv('creditcard_down.csv',index=False )